<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dcy.dao.SysMenuMapper" >
  <resultMap id="BaseResultMap" type="com.dcy.model.SysMenu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parentID" property="parentid" jdbcType="INTEGER" />
    <result column="parentIDs" property="parentids" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="TIMESTAMP" />
    <result column="href" property="href" jdbcType="VARCHAR" />
    <result column="target" property="target" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="available" property="available" jdbcType="BIT" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="BaseResultMap2" type="com.heitian.ssm.model.VuserRoleMenu" >
    <result column="userID" property="userid" jdbcType="INTEGER" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="PassWord" property="password" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="Photo" property="photo" jdbcType="VARCHAR" />
    <result column="LoginFlag" property="loginFlag" jdbcType="INTEGER" />
    <result column="roleID" property="roleid" jdbcType="INTEGER" />
    <result column="roleName" property="rolename" jdbcType="VARCHAR" />
    <result column="Role_flag" property="roleFlag" jdbcType="INTEGER" />
    <result column="menuID" property="menuid" jdbcType="INTEGER" />
    <result column="parentId" property="parentId" jdbcType="INTEGER" />
    <result column="parentIds" property="parentIds" jdbcType="VARCHAR" />
    <result column="menuName" property="menuname" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="href" property="href" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="isShow" property="isShow" jdbcType="INTEGER" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
    <result column="target" property="target" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, parentID, parentIDs, name, sort, href, target, icon, available, permission, remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dcy.model.SysMenu" >
    insert into sys_menu (id, parentID, parentIDs, 
      name, sort, href, 
      target, icon, available, 
      permission, remarks)
    values (#{id,jdbcType=INTEGER}, #{parentid,jdbcType=INTEGER}, #{parentids,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{sort,jdbcType=TIMESTAMP}, #{href,jdbcType=VARCHAR}, 
      #{target,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{available,jdbcType=BIT}, 
      #{permission,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dcy.model.SysMenu" >
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parentid != null" >
        parentID,
      </if>
      <if test="parentids != null" >
        parentIDs,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="href != null" >
        href,
      </if>
      <if test="target != null" >
        target,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="available != null" >
        available,
      </if>
      <if test="permission != null" >
        permission,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="parentids != null" >
        #{parentids,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=TIMESTAMP},
      </if>
      <if test="href != null" >
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="available != null" >
        #{available,jdbcType=BIT},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcy.model.SysMenu" >
    update sys_menu
    <set >
      <if test="parentid != null" >
        parentID = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="parentids != null" >
        parentIDs = #{parentids,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=TIMESTAMP},
      </if>
      <if test="href != null" >
        href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        target = #{target,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="available != null" >
        available = #{available,jdbcType=BIT},
      </if>
      <if test="permission != null" >
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcy.model.SysMenu" >
    update sys_menu
    set parentID = #{parentid,jdbcType=INTEGER},
      parentIDs = #{parentids,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=TIMESTAMP},
      href = #{href,jdbcType=VARCHAR},
      target = #{target,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      available = #{available,jdbcType=BIT},
      permission = #{permission,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from sys_menu WHERE available = 0
  </select>

  <select id="getMenuListByUserName" resultMap="BaseResultMap2" parameterType="java.lang.String" >
    SELECT m.id as menuID, m.parentID as ParentId, m.parentIDs as parentIds, m.name as menuname, m.sort as sort, m.href as href, m.target as target, m.icon as icon, m.available, m.permission, m.remarks
    FROM sys_user u INNER JOIN sys_user_role sur on u.id = sur.userID INNER JOIN sys_role r on sur.roleID = r.id
    INNER JOIN sys_role_menu srm on r.id = srm.roleID INNER JOIN sys_menu m on srm.menuID = m.id
    WHERE m.available = 0 AND u.UserName = #{username,jdbcType=VARCHAR} AND permission = '' ORDER BY Sort
  </select>


</mapper>